{% extends 'base.html' %}

{% block content %}
  <div class="container body">
    <h1>Kurvendiskussion</h1>

    <div><h5>Bei der Eingabe sind folgende Dinge zu beachten: <br> <span>Die Basis und das X müssen durch ein '*' getrennt sein, diese Syntax wird noch nicht unterstützt: 2x</span>
    </h5></div>

    <div id="result"></div>
    <div id="plot"></div>

    <form class="calc" hx-post="{% url 'kurvendiskussion' %}" hx-target="#result">
      {% csrf_token %}
      <div class="calc-input">
        <input id="input-field" name="function" type="text" placeholder="Funktion">
      </div>
      <div class="calc-input">
        <input id="tangente-input" name="x_stelle_for_tangente" type="text"
               placeholder="X-Stelle für Tangente der Funktion">
      </div>
      <div class="buttons calc-wrapper">
        <button value="7" class="btn btn-dark button">7</button>
        <button value="8" class="btn btn-dark button">8</button>
        <button value="9" class="btn btn-dark button">9</button>
        <button value="/" class="btn btn-dark button">÷</button>
        <button value="4" class="btn btn-dark button">4</button>
        <button value="5" class="btn btn-dark button">5</button>
        <button value="6" class="btn btn-dark button">6</button>
        <button value="*" class="btn btn-dark button">*</button>
        <button value="1" class="btn btn-dark button">1</button>
        <button value="2" class="btn btn-dark button">2</button>
        <button value="3" class="btn btn-dark button">3</button>
        <button value="-" class="btn btn-dark button">-</button>
        <button value="0" class="btn btn-dark button">0</button>
        <button value="." class="btn btn-dark button">.</button>
        <button value="x" class="btn btn-dark button">x</button>
        <button value="+" class="btn btn-dark button">+</button>
        <button value="" class="btn btn-dark remove-one"><span><i class="fa-solid fa-arrow-left"></i></span></button>
        <button class="btn btn-dark clear">Leeren</button>
        <button class="btn btn-dark exponent">Exponent</button>
        <button type="submit" class="btn btn-dark" id="exponent_button" onclick="plotFunctions()">Ermitteln</button>
      </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.5.0/math.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
      function plotFunctions() {
        var expression = "2x^2";
        var tangente = "8x-8";

        try {
          var parsedExpression = math.parse(expression);
          var parsedTangente = math.parse(tangente);

          var f = function (x) {
            return parsedExpression.evaluate({x: x});
          };

          var t = function (x) {
            return parsedTangente.evaluate({x: x});
          }

          var xValues = math.range(-20, 20, 0.1)._data;
          var yValues1 = xValues.map(f);
          var yValues2 = xValues.map(t);

          var trace = {
            x: xValues,
            y: yValues1,
            type: 'scatter',
            name: 'f(x)'
          };

          var trace2 = {
            x: xValues,
            y: yValues2,
            type: 'scatter',
            name: 'tangente von f(x)'
          }

          var layout = {
            title: '',
            xaxis: {
              title: 'x'
            },
            yaxis: {
              title: 'y'
            }
          };

          Plotly.newPlot('plot', [trace, trace2], layout);
        } catch (error) {
          console.error("Error plotting function:", error);
          alert("Invalid expression. Please enter a valid mathematical expression.");
        }
      }
    </script>
    <script>
      const input_field = document.getElementById('input-field');
      const hidden_input = document.getElementById('hidden-input');
      const remove_one_button = document.querySelector('.remove-one');
      const exponent = document.querySelector('.exponent');
      const clear = document.querySelector('.clear')
      const buttons = document.querySelectorAll('.button');
      const point = document.querySelector('.point');

      remove_one_button.addEventListener('click', (event) => {
        let value = input_field.value
        input_field.value = value.slice(0, -1);
        event.preventDefault();
      });

      clear.addEventListener('click', (event) => {
        input_field.value = null;
        event.preventDefault();
      });

      buttons.forEach(button => {
        button.addEventListener('click', (event) => {
          if (button.value !== '') {
            input_field.value += button.value;
          }
          event.preventDefault();
        });
      });

      exponent.addEventListener('click', (event) => {
        input_field.value += '^';
        event.preventDefault();
      });

    </script>
  </div>
{% endblock %}
